@font-face {
  font-family: nhlFont;
  src: url("../static/NHL.ttf");
}

.list-group{
  max-height: 250px;
  margin-bottom: 20px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0px 15px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
  line-height: 1.2em
}

.panel-title {
  font-family: nhlFont;
  color: silver;
}

.title-menu{
  font-family: nhlFont;
  color: black;
  background-color: silver;
  font-size: 80px;
}

.title-menu-link{
  font-family: nhlFont;
  color: red;
  background-color: silver;
  font-size: 20px;
  text-align: middle;
}

/* panel-body {
  opacity: 0.5;
} */

body {
  /* background: url("../static/Images/nhl-bg2.jpg"); */
  background-color: #ECECEC;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  margin-top: 50px;
}

/* .svg-container {
  opacity: 0.95;
} */

/* #svg-area {
  height: auto;
  width: auto;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
} */

.navbar-brand l{
  color: black;
  font-size: 50px;
  font-family: nhlFont;
}

/* .navbar-brand {
  background-color: white;
} */

.navbar {
  background-color: silver;
}

.a #nav-item dropdown {
  font-family: "Sintony",Arial,sans-serif;

}