@font-face {
  font-family: nhlFont;
  src: url("../static/NHL.ttf");
}

.panel-title {
  font-family: nhlFont;
  color: silver;
}

.title-menu{
  font-family: nhlFont;
  color: black;
  background-color: silver;
  font-size: 80px;
}

.title-menu-link{
  font-family: nhlFont;
  color: red;
  background-color: silver;
  font-size: 20px;
  text-align: middle;
}

body {
  background: url("../static/Images/nhl-bg2.jpg");
  /* background-color: rgb(55, 56, 59); */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  font-family: "Sintony", Arial, sans-serif;
}

/* .svg-container {
  opacity: 0.95;
} */

#svg-area {
  height: 600px;
  width: 600px;
  margin: auto;
}

.navbar-brand l{
  color: black;
  font-size: 50px;
  font-family: nhlFont;
}

/* .navbar-brand {
  background-color: white;
} */

.navbar {
  background-color: rgb(210, 210, 210);
}

/* .nav-link {
  font-family: "Sintony", Arial, sans-serif;
} */

#radar-chart {
  background-color: whitesmoke;
}

.bg {
  background-color: #ECECEC;
  font-family: "Sintony", Arial, sans-serif;
  font-size: 20px;
}



@media (max-width: 480px) {
  .nav-link {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  #nav-select {
      display: block;
  }

  nav ul {
      visibility: hidden;
  }

  .navbar li {
      padding: 10px;
  }

  .post {
      margin-right: 30px;
      margin-left: 30px;
  }
}

@media (max-width: 1200px) {

}

.footer {
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}